.col_91 {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-light-bg);
  border-radius: 10px;
  width: fit-content;
  padding: 30px;
  width: 700px;
}

.col_92 {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.col_92 input {
  width: 100%;
  height: 60px;
  font-size: 1.5rem;
  background-color: var(--clr-bg);
  margin-bottom: 10px;
  color: white;
  padding: 10px;
}

.col_92 a {
  color: var(--clr-white);
  font-size: 1.2rem;
  opacity: 0.8;
  width: fit-content;
}

.col_93 {
  display: flex;
  flex-direction: column;
}

.col_93 > p {
  font-size: 1.2rem;
  width: 100%;
  color: var(--clr-light-blue);
  margin-bottom: 20px;
}

.col_93 input {
  font-size: 1.2rem;
  padding: 8px 25px;
  background-color: var(--clr-blue-btn);
  width: fit-content;
  color: var(--clr-white);
  margin-bottom: 20px;
  cursor: pointer;
}

/* RESPONSIVE PASSWORD */

@media screen and (max-width: 770px) {
  .col_91 {
    width: 100%;
  }

  .col_92 input {
    font-size: 1rem;
  }
}
