header {
  background-color: #171718;
}

nav {
  display: flex;
  padding: 20px 0;
  width: 1496px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.left_nav {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  margin-right: 50px;
}

.logo img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

li a:hover {
  color: rgb(219, 218, 218);
}

a {
  text-decoration: none;
  color: white;
}

.connect_btn {
  padding: 8px 25px;
  background-color: #0d6efd;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 5px;
}

.connect_btn:hover {
  background-color: #1166e6;
}

/* RESPONSIVE NAV */

@media screen and (max-width: 1550px) {
  nav {
    width: 95%;
  }
}

@media screen and (max-width: 810px) {
  .logo {
    margin-right: 10px !important;
  }

  .img_home {
    width: 100%;
  }

  .img_home img {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  nav {
    flex-direction: column;
  }

  .logo {
    display: none;
  }

  .right_nav {
    display: flex;
    margin-top: 20px;
  }
}

@media screen and (max-width: 331px) {
  li {
    font-size: 1rem;
  }
}
